<!--<div class="center-container dashboard">
  <div class="page-header-container">
    <div class="page-header"> Welcome to Lyfe... </div>
  </div>
</div>-->

<div class="jumbotron">
    <h1 id="welcome-text">Welcome to lyfe...</h1>
    <h2>
      Want to live Your Life, Your Way?
    </h2>
    <br><br><br><br><br><br><br><br>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary pull-right margin-right-40" %>
</div>
