<div class="header-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style='z-index: 1000000'>
  <div class="vertical-alignment-helper">
    <div class="modal-dialog vertical-align-center" role="document">
      <div class="modal-content" id="header-modal-content">
        <!-- To be filled by rendering partials -->
      </div>
    </div>
  </div>
</div>
