<!-- for pages that take very long to load -->
<div class="sk-folding-cube" id="loader">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>

<script type="text/javascript">
$(document).on("turbolinks:load", function(){
  $("#loader").hide();
});

$(document).ready(function(){
  $("#loader").hide();
});
</script>
