/*--- COLORS ---*/

// Background color of dashboard
$background-color: #F5F6FA;

// Orange

// Red
$pastel-red: #F36A86;
$pastel-red-light: #FFE2E6;
$red-btn: #FF3333; // #c23321

// Green
$pastel-green: #E0F8EB;
$pastel-green-dark: #8be5b3;
$razer-green: #03F3C1;
$razer-green-dark: #02cfa6;

// Grey
$very-very-light-grey: #f9f9f9;
$very-light-grey: #eeeeee;
$light-grey: #C5C6CB;
$grey: #D6D6D6;
$medium-grey: #AAAAAA;
$dark-grey: #777777;

// Blue
$primary-blue: #2E56FC; //#0033CC
$light-primary-blue: #6886fd;
$accent-blue: #8c9eff;
$accent-light-blue: #e0e5ff;

// Box and Button Variables
$box-radius: 5px;
$button-height: 30px;
$button-large-height: 40px;
$button-width: 50px;
$toggle-button-color: #5dc6a9;

// Font Size
$font-size-small: 12px;
$font-size-normal: 15px;
$font-icon-normal: 17px;

// Widget Font Size
$data-protection-font: 9px;
$widget-font-large: 24px;

// VARIABLES FOR SCREEN SIZES
$SMALL: 600px;
$MEDIUM: 768px;
$LARGE: 992px;
$XLARGE: 1200px;
