<div class="container">
  <div class="modal fade" id="activityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style='z-index: 1000000'>
    <div class="vertical-alignment-helper">
      <div class="modal-dialog vertical-align-center" role="document">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4>Booking with <%= @activity.business.name %></h4>
            </div>
            <div class="modal-body">
              <div class="row padding-10">
                <div class="col-md-6 vertical-align-center">
                  <%= "#{@activity.timing.strftime('%-d %b, %-l%P')} - #{@activity.n_pax} pax" %>
                </div>
                <div class="col-md-6">
                  <%= button_to "Cancel Booking", activity_path(@activity.hash_id), class: "btn-danger large pull-right", method: :patch, params: {status: "cancel"} %>
                </div>
              </div>
              <%= button_to "Complete Payment", activity_path(@activity.hash_id), class: "btn-primary large pull-right", method: :patch, params: {status: "pay"} %>
              <div class="clear-float"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
