/*
###############################################################################
                                Dashboard
###############################################################################
*/
.dashboard {
  .info-box {
    height: 190px;
    text-align: center;

    .icon {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      text-align: center;
      color: $accent-blue;
      background: $accent-light-blue;
      margin: 25px auto;

      i {
        line-height: 45px;
        font-size: $font-icon-normal;
      }
    }
  }

  .activity-box {
    height: 270px;
  }
}
