/*
###############################################################################
                              Buttons
###############################################################################
*/

.btn-primary {
  @include button-variant(#fff, $theme-grey, $theme-dark-blue);
  border-radius: $box-radius;
  &.large {
    box-shadow: 1px 3px 10px 0px #2E56FC70;
    line-height: $button-large-height;
    height: $button-large-height;
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }
}

.btn-danger {
  @include button-variant(#fff, $theme-red, darken($theme-red, 7.5%));
  color: #ffffff !important;
  border-radius: $box-radius;
  &.large {
    box-shadow: 1px 3px 10px 0px #F36A8670;
    line-height: $button-large-height;
    height: $button-large-height;
    text-align: center;
    padding: 0 20px;
  }
}

.btn-footer {
  margin-bottom: 15px;
  margin-top: 40px;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  font-weight: normal;
  &:hover {
    text-decoration: underline;
  }
}


/*
###############################################################################
                              Fancy Box
###############################################################################
*/

// Popup Info Box
#fancybox-wrap{
  width: 400px;
  height: 400px;
}

#fancybox-content{
  width: 400px;
  height: 400px;
}

/* fix fancybox issue */
.fancybox-is-closing{
  display: none;
}

/*
###############################################################################
                                    TABLES
###############################################################################
*/

 .responsive-table {
  @media (max-width: 374px) {
    overflow-x: scroll;
    max-width: 240px;
    display: table-cell;
  }

  @media (min-width: 375px) and (max-width: 410px) {
    overflow-x: scroll;
    max-width: 290px;
    display: table-cell;
  }
}

.table {
  font-family: "muli";
}

.table {
  th {
    font-weight: bold;
    color: #404040;
  }
  tbody {
    font-weight: 300;
  }

  td.no-border{
    border: none;
  }
}



/*
###############################################################################
                              Label & Tags
###############################################################################
*/

label {
  font-weight: normal;
}

// Help Symbol
.user-help{
  color: #458ce2;
  cursor: pointer;
  &:hover{
    color: #346aa8;
  }
}

/*
###############################################################################
                              Custom Tabs
###############################################################################
*/

hr.large {
  margin-top: 0;
  border-top: 2px solid #eeeeee;
}

.custom-tabs {
  font-size: $font-size-normal;
  padding-bottom: 15px;
  // width: 130px;
  padding: 0 30px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  position: relative;
  height: 45px;
  line-height: 25px;
  color: #000;

  &.active {
    border-bottom: 2px solid $primary-blue;
  }
  &.active, &:hover {
    color: $primary-blue
  }
  .red-tag {
    position: absolute;
    right: -20px;
    top: -10px;
  }
  .tabs-wrapper {
    width: fit-content;
    width: -moz-fit-content;
    padding: 0;
    margin: auto;
  }
}

.custom-tabs-disabled {
  font-size: $font-size-normal;
  padding-bottom: 15px;
  padding: 0 30px;
  cursor: not-allowed;
  display: inline-block;
  text-align: center;
  position: relative;
  height: 45px;
  line-height: 25px;
  color: $grey;

  .tabs-wrapper {
    width: fit-content;
    width: -moz-fit-content;
    padding: 0;
    margin: auto;
  }
}

/*
###############################################################################
                                    Box
###############################################################################
*/

.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: none;
}

.box {
  border: none;
  border-radius: $box-radius;
  background-color: $theme-dark-blue !important;

  .box-body.settings {
    padding: 10px 50px;
  }

  .header-button {
    margin: 15px 40px 0 0;
  }
}

.box-title {
  font-family: "muli";
  padding: 20px 10px 20px 20px;
  font-weight: bold;
  font-size: 20;
}

/*
###############################################################################
                            Pagnination
###############################################################################
*/

.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > a:focus,
.pagination > .active > span,
.pagination > .active > span:hover,
.pagination > .active > span:focus {
  background-color: $theme-cyan;
  border-color: $theme-cyan;
}


/*
###############################################################################
                                FLASH MESSAGES
###############################################################################
*/

.alert {
  padding: 15px 15px 15px 0 !important;
  position: absolute;
  right: 10px;
  top: 9px;
  width: 30%;
  z-index: 999999999999999;

  .value {
    margin-left: 20px;
  }

  .close {
    position: relative;
    bottom: 3px;
    color: #fff !important;
    opacity: 1 !important;
  }

  @media (max-width: 320px) {
    width: 80%;
  }

  @media (min-width: 321px) and (max-width: 576px) {
    width: 70%;
  }

  @media (min-width: $MEDIUM) and (max-width: 1023px) {
    width: 50%;
  }

  @media (min-width: 1024px) and (max-width: 1219px) {
    width: 40%
  }

  @media (min-width: 1920px) {
    width: 25%;
  }
}
