<div class="main-sidebar">
  <!-- Logo -->
  <div class="logo-container">
      <a href="/" class="logo">
        <%#=image_tag 'logo/full-black.png', height: 27, class: 'absolute-center'%>
      </a>
  </div>
  <div class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      
    </ul>
  </div>
</div>
