<div class="main-sidebar">
  <!-- Logo -->
  <div class="logo-container">
      <a href="/" class="logo">
        <%=image_tag 'logo/lyfelogosanssub.png', height: 27, class: 'horizontal-center'%>
      </a>
  </div>
  <div class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <a href="/account/<%="#{current_user.personal_account.hash_id}"%>/dashboard"><i class="fa fa-bar-chart"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/businesses/search"><i class="fa fa-search"></i>
          <span>Find an Activity</span>
        </a>
      </li>
      <li>
        <a href="/activities"><i class="fa fa-tasks"></i>
          <span>All Activities</span>
        </a>
      </li>
    </ul>
  </div>
</div>
